<% provide :title, "ログイン" %>
<% breadcrumb :session %>

<div class="container">
  <div class="form login-pw-form">
    <div class="form-body">
      <%= form_with url: "/login", local: true do |form| %>
        <p>メールアドレス</p>
        <%= form.text_field :email, value: params[:email] %>
        <p>パスワード
          <%= link_to "(パスワードがわからない場合)", "/password_resets/new", class: "forget-password-link" %>
        </p>
        <%= form.password_field :password, value: params[:password] %>
        <%= form.check_box :remember_me %>
        <span>次回からログインを省略</span>
        <%= form.submit value: "ログイン", data: { disable_with: "送信中" } %>
      <% end %>
      <div class="easy-login">
        <div class="test-user">パスワード入力を省略してログインできます</div>
        <%= link_to "/login?email=test@example.com&password=Password12", method: "post" do %>
          <div class="login-align-center"><input value="テストユーザでログイン", data: { disable_with: "送信中" } ></div>
          <div class="clear"></div>
        <% end %>
        
        <%= link_to "/login?email=admin@example.com&password=Password12", method: "post" do %>
          <div class="login-align-center"><input value="管理者ユーザでログイン"></div>
        <% end %>
      </div>
    </div>
    
    
  </div>
</div>
