<div class="search-index-item">
  <div class="search-show-item">
    <%= link_to "/search?keyword=#{category.name}" do %>
      <%= image_tag category.image.url, alt: "カテゴリーのイメージ画像" %>
    <% end %>
  </div>
  
  <div class="search-item-wrapper">
    <div class="search-item-title">
      <%= link_to category.name, "/search?keyword=#{category.name}" %>
    </div>
    <div class="search-item-description">
      <p><%= "#{category.items.count}件の商品があります" %></p>
    </div>
    <% if @current_user&.admin? %>
      <div class="comment-edit">
        <%= link_to "編集", "/categories/#{category.id}/edit" %>
        <%= link_to "削除", "/categories/#{category.id}", method: "delete" %>
      </div>
    <% end %>
  </div>
</div>