<div class="search-index-item">
  <div class="search-show-item">
    <%= link_to "/search?keyword=#{manufacturer.name}" do %>
      <%= image_tag manufacturer.image.url, alt: "会社の画像" %>
    <% end %>
  </div>
  
  <div class="search-item-wrapper">
    <div class="search-item-title">
      <%= link_to manufacturer.name, "/search?keyword=#{manufacturer.name}" %>
    </div>
    <div class="search-item-description">
      <p><%= "#{manufacturer.items.count}件の商品があります" %></p>
    </div>
    <% if @current_user&.admin? %>
      <div class="comment-edit">
        <%= link_to "編集", "/manufacturers/#{manufacturer.id}/edit" %>
        <%= link_to "削除", "/manufacturers/#{manufacturer.id}", method: "delete" %>
      </div>
    <% end %>
  </div>
</div>