<% provide :title, "検索" %>
<% breadcrumb :search_show, @keyword %>

<div class="container">
  <div class="search-digest">
    <%= "#{@digest}：#{@results.count}件" %>
  </div>
  
  <ul class="user-tabs">
    <li class="active" id="item"><%= link_to "商品", "/search?type=item&keyword=#{@keyword}", remote: true %></li>
    <li id="review"><%= link_to "レビュー", "/search?type=review&keyword=#{@keyword}", remote: true %></li>
    <li id="manufacturer"><%= link_to "メーカー", "/search?type=manufacturer&keyword=#{@keyword}", remote: true %></li>
    <li id="category"><%= link_to "カテゴリ", "/search?type=category&keyword=#{@keyword}", remote: true %></li>
    <li id="tag"><%= link_to "タグ", "/search?type=tag&keyword=#{@keyword}", remote: true %></li>
    <li id="user"><%= link_to "ユーザー", "/search?type=user&keyword=#{@keyword}", remote: true %></li>
  </ul>
  
  <div class="search-result">
    <%= render partial: "search/#{@type}", collection: @results %>
  </div>
</div>