<% provide :title, @user.name %>
<% breadcrumb :user_show, @user %>

<div class="container">
  <div class="user-show">
    <div class="user">
      <%= image_tag @user.image.url, alt: "ユーザの画像" %>
      <h2><%= @user.name %></h2>
      <% if @user.appear == true %>
        <span class="user-active-status">(アクティブ)</span>
      <% end %>
      <p><%= @user.email %></p>
      
      <div class="dm-area">
        <% if @user.id == @current_user.id %>
          <%= link_to "メッセージ", "/rooms" %>
        <% else %>
          <% if @room_id %>
            <%= link_to "メッセージ", "/rooms/#{@room_id}?user_id=#{@user.id}" %>
          <% else %>
            <%= link_to "メッセージ", "/rooms?user_id=#{@user.id}", method: :post %>
          <% end %>
        <% end %>
      </div>
      
      <% if @current_user.id == @user.id %>
        <%= link_to "編集", "/users/#{@user.id}/edit" %>
        <%= link_to "削除", "/users/#{@user.id}", method: :delete %>
      <% end %>
      
      <% if @current_user.id != @user.id %>
        <% if @current_user.blocking?(@user) %>
          <%= link_to("ブロック解除", "/blocks/#{@user.id}", method: :delete) %>
        <% else %>
        
          <div class="follow-link">
            <% if @current_user.following?(@user) %>
              <%= link_to "フォロー解除", "/relationships/#{@user.id}", method: :delete, remote: true %>
            <% else %>
              <%= link_to "フォロー", "/relationships/?user_id=#{@user.id}", method: :post, remote: true %>
            <% end %>
            <%= link_to "ブロック", "/blocks?user_id=#{@user.id}", method: :post %>
          </div>   
        <% end %>
      <% end %>
    </div>
  </div>

  <ul class="user-tabs">
    <li class="<%= @type %>-" id="review"><%= link_to "レビュー(#{@user.reviews.count})", "/users/#{@user.id}?type=review", remote: true %></li>
    <li class="<%= @type %>-" id="eaten_item"><%= link_to "食べた！(#{@user.eaten_items.count})", "/users/#{@user.id}?type=eaten_item", remote: true %></li>
    <li class="<%= @type %>-" id="want_to_eat_item"><%= link_to "食べたい！(#{@user.want_to_eat_items.count})", "/users/#{@user.id}?type=want_to_eat_item", remote: true %></li>
    <li class="<%= @type %>-" id="liked_review"><%= link_to "いいね！(#{@user.review_likes.count})", "/users/#{@user.id}?type=liked_review", remote: true %></li>
    <li class="<%= @type %>-" id="following"><%= link_to "フォロー(#{@user.following.count})", "/users/#{@user.id}?type=following", remote: true %></li>
    <li class="<%= @type %>-" id="follower"><%= link_to "フォロワー(#{@user.followers.count})", "/users/#{@user.id}?type=follower", remote: true %></li>
    <% if @current_user.id == @user.id %>
      <li "<%= @type %>-" id="blocking"><%= link_to "ブロック(#{@user.blocking.count})", "/users/#{@user.id}?type=blocking", remote: true %></li>
    <% end %>
  </ul>
    
  <div class="search-result">
    <%= render partial: "search/review", collection: @results %>
  </div>
</div>
