<header>
  <div class="logo-wrapper">
  <div class="header-logo">
    <%= link_to "/" do %>
      <%= image_tag '/header.png', alt:"サイトのアイコン" %>
    <% end %>
  </div>
  </div>
  
  <div class="search-memu">
    <%= form_with url: "/search", method: "get", local: true do |form| %> 
      <%= form.search_field :keyword, placeholder: "商品・レビュー・ユーザーを検索", value: @keyword %>
      <button id="search-btn" type="submit"><i class="fas fa-search"></i></button>
    <% end %>
  </div>
  
  <ul class="header-menus">
    <% if @current_user %>
      <li>
        <%= link_to "/users/#{@current_user.id}" do %>
          <%= image_tag @current_user.image.url, alt: "ユーザの画像" %>
          <span class="header-username"><%= @current_user.name %></span>
        <% end %>
      </li>
      
      <li>
        <%= link_to "/rooms" do %>
          <% message_count = Message.where(room_id: @current_user.rooms.ids, checked: false).where.not(user_id: @current_user.id).count %>
          <span class="header-notice">
            <span class="fa fa-envelope" aria-hidden="true"> メッセージ <%= message_count unless message_count.zero? %></span>
          </span>
        <% end %>
      </li>
      
      <li>
        <%= link_to "/notices" do %>
          <% notice_count = @current_user.passive_notices.where(checked: false).count %>
          <span class="header-notice">
            <span class="fas fa-bell badge"> 通知 <%= notice_count unless notice_count.zero? %></span>
          </span>
        <% end %>
      </li>
      
      <li>
        <%= link_to "/logout", method: :post do %>
          <span class="fas fa-sign-out-alt"> ログアウト</span>
        <% end %>
      </li>
      
    <% else %>
  
      <li>
        <%= link_to "/users/new" do %>
          <span class="fa fa-user-plus" aria-hidden="true"> 新規登録</span>
        <% end%>
      </li>
      
      <li>
        <%= link_to "/login" do %>
          <span class="fa fa-sign-in-alt"> ログイン</span>
        <% end %>
      </li>
      
    <% end %>
  </ul>
</header>
