<header>
  <div class="logo-wrapper">
  <div class="header-logo">
    <%= link_to "/" do %>
      <%= image_tag '/header.png', alt:"サイトのアイコン" %>
    <% end %>
  </div>
  </div>
  
  <div class="search-memu">
    <%= form_with url: "/search", method: "get", local: true do |form| %> 
      <%= form.search_field :keyword, placeholder: "商品・レビュー・ユーザーを検索", value: @keyword %>
      <button id="search-btn" type="submit"><i class="fas fa-search"></i></button>
    <% end %>
  </div>
  
  <ul class="header-menus">
    <% if @current_user %>
      <li>
        <%= link_to @current_user do %>
          <%= image_tag @current_user.image.url, alt: "ユーザの画像" %>
        <% end %>
      </li>
      <li>
        <%= link_to("通知", "/notices") %>
      </li>
      <li>
        <%= link_to("タイムライン", "/users/#{@current_user.id}/timeline") %>
      </li>
      <li>
        <%= link_to("ログアウト", "/logout", {method: :post}) %>
      </li>
      
    <% else %>
    
      <li>
        <%= link_to("TweetAppとは", "/about") %>    
      </li>
      <li>
        <%= link_to("新規登録", "/users/new") %>
      </li>
      <li>
        <%= link_to("ログイン", "/login") %>        
      </li>
    <% end %>
  </ul>
</header>