<li class="review-box">
  <div class="review-scroll-wrapper">
    <div class="review-scroll-title">
      <%= review.item.title %>
    </div>
    <div class="review-scroll-span">
      <div class="comments-user-image">
        <%= image_tag review.user.image.url %>
      </div>
      <div class="comments-user-right">
          <span class="review-user-name"><%= review.user.name %></span>
          <span class="comments-time">/<%= time_ago_in_words(review.created_at) %></span>
          <div class="review-scroll-score"><%= render "items/score", score: review.score %></div>
        
        
        
      </div>
      <span>
        <div class="review-scroll-content">
          <% if review.content.length > @digest_length + 1 %>
            <%= review.content.slice(0..@digest_length).concat("…")  %>
          <% else %>
            <%= review.content %>
          <% end %>
          <p><%= link_to "続きを見る", item_path(review.item, review_id: review.id) %></p>
          <%= image_tag review.image.url, class: "review-scroll-image" %>
        </div>
      </span>
    </div>
  </div>
</li>
