<div class="container">
  <h2 class="scroll-title">注目のレビュー</h2>
  <ul class="horizontal-list">
    <%= render partial: "home/review", collection: @popular_reviews %>
  </ul>
  
  <h2 class="scroll-title">最近のレビュー</h2>
  <ul class="horizontal-list">
    <%= render partial: "home/review", collection: @recent_reviews %>
  </ul>
  
  <h2 class="scroll-title">人気の商品</h2>
  <ul class="horizontal-list">
    <%= render partial: "home/item", collection: @popular_items %>
  </ul>
  
  <h2 class="scroll-title">idの降順</h2>
  <ul class="horizontal-list">
    <%= render partial: "home/item", collection: Item.all.order(id: :desc) %>
  </ul>
  
  <h2 class="scroll-title">カロリーの降順</h2>
  <ul class="horizontal-list">
    <%= render partial: "home/item", collection: Item.all.order(calorie: :desc) %>
  </ul>
  
  <h2 class="scroll-title">"美味しい"のタグが付いた商品</h2>
  <ul class="horizontal-list">
    <%= render partial: "home/item", collection: Item.all.tagged_with("美味しい") %>
  </ul>
  
  <h2 class="scroll-title">一番使われているタグ"<%= @most_used_tag %>"が付いた商品</h2>
  <ul class="horizontal-list">
    <%= render partial: "home/item", collection: Item.all.tagged_with(@most_used_tag) %>
  </ul>
</div>
