<% provide :title, "Top" %>

<div class="container">
  <h2 class="scroll-title">注目のレビュー</h2>
  <ul class="horizontal-list">
    <%= render partial: "home/review", collection: @popular_reviews.includes(:user, :item) %>
  </ul>
  
  <h2 class="scroll-title">最近のレビュー</h2>
  <ul class="horizontal-list">
    <%= render partial: "home/review", collection: @recent_reviews.includes(:user, :item) %>
  </ul>
  
  <h2 class="scroll-title">人気の商品</h2>
  <ul class="horizontal-list">
    <%= render partial: "home/item", collection: @popular_items %>
  </ul>
  
  <h2 class="scroll-title">みんなが食べている商品</h2>
  <ul class="horizontal-list">
    <%= render partial: "home/item", collection: @eaten_items %>
  </ul>
  
  <h2 class="scroll-title">みんなが食べてみたい商品</h2>
  <ul class="horizontal-list">
    <%= render partial: "home/item", collection: @want_to_eat_items %>
  </ul>
  
  <h2 class="scroll-title">コスパの高い商品</h2>
  <ul class="horizontal-list">
    <%= render partial: "home/item", collection: @reasonable_items %>
  </ul>
  
  <h2 class="scroll-title">カロリーの低い商品</h2>
  <ul class="horizontal-list">
    <%= render partial: "home/item", collection: @low_calorie_items %>
  </ul>
  
  <% @most_used_tags.each do |tag| %>
    <h2 class="scroll-title">#<%= tag.name %>のタグが付いた商品</h2>
    <ul class="horizontal-list">
      <%= render partial: "home/item", collection: Item.tagged_desc(tag.name).limit(@item_select) %>
    </ul>
  <% end %>
</div>
