<% provide :title, "メッセージ" %>
<% breadcrumb :room_index, @current_user %>

<div class="users-index">
  <div class="container">
    <h1 class="users-heading">メッセージを送る相手を選んでください</h1>
    <h4 class="users-explain">(チャットルームが作成されたユーザのみ表示されます)</h4>
    <% @users.each do |user| %>
      <div class="users-index-item">
        <div class="user-left">
          <%= link_to "/users/#{user.id}" do %>
            <%= image_tag user.image.url, alt: "ユーザの画像" %>
          <% end %>
        </div>
        <% if user.appear? %>
          <span class="active-icon override">.</span>
        <% end %>
        <div class="user-right">
          <% room_id = @current_user.room_with(user).id %>
          <span class="room-user">
            <%= link_to user.name, "/rooms/#{room_id}?user_id=#{user.id}" %>
          </span>
          
          <% unread_count = Message.where(room_id: room_id, user_id: user.id, checked: false).count %>
          <% if unread_count.zero? %>
            <p class="keep-space"></p>
          <% else %>
            <p class="unread-message-count"><%= "未読のメッセージが#{unread_count}件あります" %></p>
          <% end %>
          <div class="comment-edit">
            <%= link_to "非表示", "/hidden_rooms?room_id=#{room_id}", method: "post" %>
          </div>
          
        </div>
      </div>
    <% end %>
  </div>
</div>