<div class="items-show show-items-<%= @item.id %>">
  <div class="item-name">
    <h2><%= @item.title %></h2>
  </div>
  
  <%= image_tag @item.image.url, alt: "商品の画像" %>
  
  <div class="item-table">
    <h3>商品情報</h3>
     <table>
      <tbody>
        <tr>
          <th>平均評価</th>
          <td class="show-item-score"><%= render "items/score", score: @item.average_score.round(1) %></td>    
        </tr>
        <tr>
          <th>説明</th>
          <td><%= @item.content %></td>
        </tr>
        <tr>
          <th>参考価格</th>
          <td><%= @item.price %>円</td>
        </tr>
        <tr>
          <th>内容量</th>
          <td><%= @item.gram %>g</td>
        </tr>
        <tr>
          <th>カロリー</th>
          <td><%= @item.calorie %>kcal</td>
        </tr>
        <tr>
          <th>メーカー</th>
          <td>
            <%= link_to @item.manufacturer.name, "/search?keyword=#{@item.manufacturer.name}" %>
          </td>
        </tr>
        <tr>
          <th>カテゴリ</th>
          <td>
            <%= link_to @item.category.name, "/search?keyword=#{@item.category.name}" %>
          </td>
        </tr>
        <tr>
          <th>タグ</th>
          <td><%= render partial: "items/tag", collection: @item.popular_tags.limit(@tag_limit) %></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <span class="item-evaluation">
    <span class="eaten-items">
      <%= render "eaten_items/show", item: @item %>
    </span>
    
    <span class="want-to-eat-items">
      <%= render "want_to_eat_items/show", item: @item %>
    </span>
  </span>
  
  <span class="create-review">
    <%= link_to "この商品のレビューを書く", "/reviews/new?item_id=#{@item.id}" %>
  </span>
  
  <% if @current_user&.admin? %>
    <div class="comment-edit">
      <%= link_to "編集", "/items/#{@item.id}/edit" %>
      <%= link_to "削除", "/items/#{@item.id}", method: "delete" %>
    </div>
  <% end %>
</div>