<div id="review-comment-<%= comment.id %>" class="<%= comment.id %> comment-form review-comment-<%= comment.id %>">
  <%= form_with(url: "/comments/#{comment.id}" , model: comment, remote: true) do |form| %>
    <p>コメント</p>
    <%= form.text_area :content %>
    <button type="reset" class="cancel-btn" id="test">キャンセル</button>
    <button class="submit-btn"><%= form.submit value="決定" %></button>
  <% end %>
</div>

<!--<script>
  $(function() {
    $('.cancel-btn').on('click', function() {
      const char =  $(this).parents('.comment-form').attr('id');
      const id = char.split('-').pop();
      const delete_form = '#cancel-comment-' + id
      jQuery("#review-comment-" + id).remove();
      jQuery(".show-comments-" + id).find('a').css('display', 'inline');
      jQuery(".show-comments-" + id).find('.comment-content').css('display', 'inline');
    });
  });
  </script>