<div class="posts-show-review show-reviews-<%= review.id %>">
  <div class="posts-review-user-left">
    <%= image_tag review.user.image.url %>
  </div>
      
  <div class="posts-review-user-right">
    <div class="user-name">
      <%= review.user.name %>
    </div>
    <div class="review-time">
      <%= review.created_at.strftime("%Y年%m月%d日 %H:%M") %>
    </div>
    <%= render "items/score", score: review.score %>
  </div>
      
  <div class="posts-review-content">
    <p><%= review.content %></p>
    <%= image_tag review.image.url %>
    <div class="post-menus">
      <%= link_to("編集", edit_item_path) %>
      <%= link_to("削除", @item, {method: "delete"}) %>
    </div>
  </div>
      
  
  <div class="posts-end-area">
    <span class="review-area">
      <%= render "review_likes/show", review: review, count: @count %>
    </span>
    <span class="fas fa-comment">
      <%= link_to("コメント", "/comments/#{review.id}/new", remote: true) %>
    </span>
    <span class="comment-count <%= comment_count ||= review.comments.count %>">
      <%= comment_count unless comment_count.zero? %>
    </span>
  </div>
      
        <div id="review-<%= review.id %>" class="comment-form hidden">
          <%= form_with(url: "/comments/#{review.id}/create" , model: Comment.new) do |form| %>
            <p>コメント</p>
            <%= form.text_area :content %>
            <button type="reset" class="cancel-btn">キャンセル</button>
            <button class="submit-btn"><%= form.submit value="決定" %></button>
          <% end %>
        </div> 

        
        <div id="latest-comment-<%= review.id %>"></div>
        <%= render partial: "items/comment", collection: review.comments.order(created_at: :desc), locals: { review: review } %>
  </div>
