<div class="posts-show-review">
  <div class="posts-review-user-left">
    <%= image_tag review.user.image.url %>
  </div>
      
      <div class="posts-review-user-right">
        <div class="user-name">
          <%= review.user.name %>
        </div>
        
        <div class="review-time">
          <%= review.created_at.strftime("%Y年%m月%d日 %H:%M") %>
        </div>
        
        <%= render "score", score: review.score %>
      </div>
      
      <div class="posts-review-content">
        <p><%= review.content %></p>
        <%= image_tag review.image.url %>
      </div>
      
      <div class="posts-end-area">
        
        <% if Like.find_by(user_id: @current_user.id, item_id: @item.id) %>
          <%= link_to("/likes/#{@item.id}/destroy", {method: "post"}) do %>
            <span class="fa fa-heart like-btn-unlike">いいね！</span>
          <% end %>
        <% else %>
          <%= link_to("/likes/#{@item.id}/create", {method: "post"}) do %>
            <span class="fa fa-heart like-btn">いいね！</span>
          <% end %>
        <% end %>
        <%= Like.where(item_id: @item.id).count %>
        <span class="fas fa-comment"><%= link_to("コメントする", "/comments/new", remote: true) %></span>
        <div class="post-menus">
          <%= link_to("編集", edit_item_path) %>
          <%= link_to("削除", @item, {method: "delete"}) %>
        </div>
      </div>
      
        <div id="click" class="comment-form hidden">
          <%= form_with(url: "/comments/#{review.id}/create" , model: Comment.new) do |form| %>
            <p>コメント</p>
            <%= form.text_field :content %>
            <%= form.submit value="決定" %>
          <% end %>
        </div>
        <%= render partial: "items/comment", collection: review.comments, locals: { review: review } %>
        <div id="add-comment"></div>
  </div>