<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <%= form_with(model: @item, local: true) do |form| %>
      <div class="form">
        <div class="form-body">
          <% @item.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <p>商品名</p>
          <%= form.text_field :title %>
          <p>メーカー</p>
          <%= form.number_field :manufacturer_id %>
          <p>カテゴリ</p>
          <%= form.number_field :category_id %>
          <p>商品説明</p>
          <%= form.text_field :content %>
          <p>タグ</p>
          <%= form.text_field :tag_list %>
          <%= form.submit value="投稿する" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
