<div class="main">
  パンクズリスト <%= Category.find(@item.category_id).name %>
  <div class="container">
    <div class="posts-show-item">
      <div class="post-item-name">
        <h2><%= @item.title %></h2>
      </div>
      <%= image_tag @item.image.url %>
      <div class="post-right-body">
        <h3>商品情報</h3>
        <table>
          <tbody>
            <tr>
              <th>説明</th>
              <td><%= @item.content %></td>
            </tr>
            <tr>
              <th>参考価格</th>
              <td><%= @item.price %>円</td>
            </tr>
            <tr>
              <th>内容量</th>
              <td><%= @item.gram %>cal</td>
            </tr>
            <tr>
              <th>カロリー</th>
              <td><%= @item.calorie %>cal</td>
            </tr>
            <tr>
              <th>メーカー</th>
              <td><%= Manufacturer.find(@item.manufacturer_id).name %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <% if Like.find_by(user_id: @current_user.id, item_id: @item.id) %>
        <%= link_to("/likes/#{@item.id}/destroy", {method: "post"}) do %>
          <span class="fa fa-heart like-btn-unlike"></span>
        <% end %>
      <% else %>
        <%= link_to("/likes/#{@item.id}/create", {method: "post"}) do %>
          <span class="fa fa-heart like-btn"></span>
        <% end %>
      <% end %>
      <%= Like.where(item_id: @item.id).count %>
      <div class="post-menus">
        <%= link_to("編集", edit_item_path) %>
        <%= link_to("削除", @item, {method: "delete"}) %>
      </div>
    </div>
    <!-- ここからReview -->
    <div class="review-start">
      <h3>この商品のレビュー</h3>
    </div>
    <div class="posts-show-review">
      <div class="posts-review-user-left">
        <%= image_tag User.find(Review.find_by(item_id: @item.id).user_id).image.url %>
      </div>
      <div class="posts-review-user-right">
        <div class="user-name"><%= User.find(Review.find_by(item_id: @item.id).user_id).name %></div>
        <div class="review-time"><%= Review.find_by(item_id: @item.id).created_at.strftime("%Y年%m月%d日 %H:%M") %></div>
        <p><%= Review.find_by(item_id: @item.id).score %></p>
        
          <% if Review.find_by(item_id: @item.id).score < 3 %>
            <div class="rate rate2-5"><div>
          <% end%>
        
      </div>  
      <div class="post-item-name">
        <h2><%= Review.find_by(item_id: @item.id).title %></h2>
      </div>
      <%= image_tag Review.find_by(item_id: @item.id).image.url %>
      <div class="post-right-body">
        <h3>商品情報</h3>
        <table>
          <tbody>
            <tr>
              <th>説明</th>
              <td><%= @item.content %></td>
            </tr>
            <tr>
              <th>参考価格</th>
              <td><%= @item.price %>円</td>
            </tr>
            <tr>
              <th>内容量</th>
              <td><%= @item.gram %>cal</td>
            </tr>
            <tr>
              <th>カロリー</th>
              <td><%= @item.calorie %>cal</td>
            </tr>
            <tr>
              <th>メーカー</th>
              <td><%= Manufacturer.find(@item.manufacturer_id).name %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <% if Like.find_by(user_id: @current_user.id, item_id: @item.id) %>
        <%= link_to("/likes/#{@item.id}/destroy", {method: "post"}) do %>
          <span class="fa fa-heart like-btn-unlike"></span>
        <% end %>
      <% else %>
        <%= link_to("/likes/#{@item.id}/create", {method: "post"}) do %>
          <span class="fa fa-heart like-btn"></span>
        <% end %>
      <% end %>
      <%= Like.where(item_id: @item.id).count %>
      <div class="post-menus">
        <%= link_to("編集", edit_item_path) %>
        <%= link_to("削除", @item, {method: "delete"}) %>
      </div>
    </div>
  </div>
</div>