<% provide :title, @item.title %>
<% breadcrumb :item_show, @item %>

<div class="container">
  <%= render "items/detail" %>
  
  <% if @first_review %>
    <h3 class="review-count">この商品のレビュー <%= @other_reviews.count + 1 %>件</h3>
    <%= render partial: "items/review", locals: { review: @first_review, first_comment: @first_comment } %>
    <%= render partial: "items/review", collection: @other_reviews.includes(:user, :taggings) %>
  <% else %>
    <h3 class="review-count">この商品のレビュー <%= @reviews.count %>件</h3>
    <%= render partial: "items/review", collection: @reviews.includes(:user, :taggings) %>
  <% end %>
</div>

<script>
  $(function() {
    $(document).on('click', '.cancel-btn, .submit-btn', function() {
    $(this).parents('.comment-form').addClass('hidden');
    });
    
    $(document).on('click', '.cancel-btn', function() {
      const id_array =  $(this).parents('.comment-form').attr('id');
      const comment_id = id_array.split('-').pop();
      const check = $(this).parents('.comment-form').hasClass('edit-delete');
      if (check) {
        jQuery("#comment-" + comment_id).remove();
        jQuery(".show-comments-" + comment_id).find('.comment-edit').css('display', 'inline');
        jQuery(".show-comments-" + comment_id).find('.comment-content').css('display', 'inline');
      }
    });
  });

</script>
