<% provide :title, "レビュー編集" %>
<% breadcrumb :review_edit, @item %>

<div class="container">
  <%= form_with(model: @review, local: true) do |form| %>
    <div class="form items-form">
      <div class="form-body">
        <% @review.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <p>スコア(5点満点)</p>
        <%= form.select :score, score_list, { include_blank: '選択してください'} %>
        <p>感想</p>
        <%= form.text_area :content %>
        <p>タグ(任意：3つまで)</p>
        <%= form.text_field :tag_list, value: @review.tag_list, placeholder:  "カンマ区切りで入力：美味しい, 安い, コスパ" %>
        
        <p>商品画像(任意：3枚まで)
        <%= form.file_field :multiple_images, multiple: true, accept: 'image/jpeg,image/gif,image/png', id: "item-image" %>
        <%= form.hidden_field :item_id, value: @item.id %>
        <%= form.hidden_field :user_id, value: @current_user.id %>
        <%= form.submit value="投稿する", data: { disable_with: "送信中" } %>
      </div>
    </div>
  <% end %>
</div>

<script>
$(function() {
  // タグのデフォルト入力にカンマ区切りを入れる
  const separator = ", "
  const text = $('input#review_tag_list').val().replace(/\s/g, separator); // デフォルトの半角スペースを置換
  $('input#review_tag_list').val(text);
  
  // タグを3つ以上入力できないように、カンマが3回以上出現したらアラートを出す
  $('input#review_tag_list').keypress(function() {
    const text = $(this).val();
    var count = ( text.match( /,/g ) || [] ).length ; 
    console.log(count);
    if (count > 2) {
      alert("タグは3つまでしか入力できません");
    }
  });
});

$(function() {
  $('input[type=file]').after('<span class="upload-image"></span>');
  // アップロードするファイルを複数選択
  $('input[type=file]').change(function() {
    $('span.upload-image').html('');
    var file = $(this).prop('files');

    var img_count = 1;
    $(file).each(function(i) {
      // 3枚まで
      if (img_count > 3) {
        return false;
      }

      if (! file[i].type.match('image.*')) {
        $(this).val('');
        $('span.upload-image').html('');
        return;
      }

      var reader = new FileReader();
      reader.onload = function() {
        var img_src = $('<img>').attr('src', reader.result);
        $('span.upload-image').append(img_src);
      }
      reader.readAsDataURL(file[i]);
      
      img_count = img_count + 1;
    });
  });
});
</script>