<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
  </head>

  <body>
    <%= render "shared/header" %>
    <div class="time-limit"><%= render "shared/flash" %></div>
    <div class="main">
      <h3><%= breadcrumbs separator: "&rsaquo;" %></h3>
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
  
  <script>
    // フラッシュメッセージをフェードアウトする(単位: ms) 
    setTimeout(function(){
      $('.time-limit').fadeOut('slow');  
    }, 2000);
  </script>
</html>